@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --c1: #2F2F2F;
    --c2: #282727;
    --c3: #161616;
    --c4: #050505;
    --cl1: #eeeeee;
    --cl2: #bbbbbb;
    --cl3: #999999;
    --t1: 250ms;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 100vw;
    height: 100vh;
    background-color: var(--c1);
    position: relative;
}

#content #leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 8vw;
    min-width: 8vh;
    max-width: 10vh;
    height: 100vh;
    background-color: var(--c2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0.1vw 0 0.5vw var(--c2);
    z-index: 11;
    transition: box-shadow var(--t1);
}

#content #leftMenu::-webkit-scrollbar {
    display: none;
}

#content #leftMenu:hover {
    box-shadow: 0.3vw 0 1vw var(--c2);
}

#content #leftMenu .user-icon {
    width: 6vw;
    height: 6vw;
    min-width: 6vh;
    min-height: 6vh;
    max-width: 8vh;
    max-height: 8vh;
    flex: none;
    overflow: hidden;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1vmin var(--c4);
    transition: border-radius var(--t1), box-shadow var(--t1);
}

#content #leftMenu .user-icon.active {
    border-radius: 25%;
    box-shadow: 0 0 1.5vmin 0.1vmin var(--c4);
}

#content #leftMenu .user-icon img {
    width: 100%;
    height: 100%;
}

#content #topMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 92vw;
    min-width: calc(100vw - 10vh);
    max-width: calc(100vw - 8vh);
    height: 5vh;
    min-height: 2vw;
    max-height: 10vw;
    background-color: var(--c2);
    z-index: 10;
}

#content #rightSide {
    background: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92vw;
    min-width: calc(100vw - 10vh);
    max-width: calc(100vw - 8vh);
    height: 95vh;
    min-height: calc(100vh - 2vw);
    max-height: calc(100vh - 10vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content #rightSide h1.ns {
    font-size: 5vmin;
    color: var(--cl1);
    font-family: "Montserrat";
}

#content #rightSide h2.ns {
    font-size: 3vmin;
    color: var(--cl3);
    font-family: "Montserrat";
}

#content #formBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content #formBox #nickname, #content #formBox #password {
    width: 40%;
    height: 5vh;
    outline: none;
    border-radius: 2.5vh;
    border: none;
    background-color: var(--c3);
    padding: 0 5vh;
    font-size: 2.5vh;
    color: var(--cl1);
    margin: 2vh 0;
    font-family: "Montserrat";
}

#formBox label {
    width: 40%;
    height: 2vh;
    color: var(--cl1);
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 2.5vh;
}

