@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#content {
    width: 100vw;
    height: 100vh;
    background-color: var(--c1);
    position: relative;
}

#content #leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 8vw;
    min-width: 8vh;
    max-width: 10vh;
    height: 100vh;
    background-color: var(--c2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0.1vw 0 0.5vw var(--c2);
    z-index: 11;
    transition: box-shadow var(--t1);
}

#content #leftMenu::-webkit-scrollbar {
    display: none;
}

#content #leftMenu:hover {
    box-shadow: 0.3vw 0 1vw var(--c2);
}

#leftMenu > .user-icon {
    z-index: 1;
}

#content #leftMenu .user-icon {
    width: 6vw;
    height: 6vw;
    min-width: 6vh;
    min-height: 6vh;
    max-width: 8vh;
    max-height: 8vh;
    flex: none;
    overflow: hidden;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 1vmin var(--c4);
    transition: border-radius var(--t1), box-shadow var(--t1), margin var(--t1), opacity var(--t1);
}

#content #leftMenu .user-icon.active {
    border-radius: 25%;
    box-shadow: 0 0 1.5vmin 0.1vmin var(--c4);
}

#content #leftMenu .user-icon img {
    width: 100%;
    height: 100%;
}

#content #topMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 92vw;
    min-width: calc(100vw - 10vh);
    max-width: calc(100vw - 8vh);
    height: 5vh;
    min-height: 2vw;
    max-height: 10vw;
    background-color: var(--c2);
    z-index: 10;
}

#content #rightSide {
    background: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92vw;
    min-width: calc(100vw - 10vh);
    max-width: calc(100vw - 8vh);
    height: 95vh;
    min-height: calc(100vh - 10vw);
    max-height: calc(100vh - 2vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content #rightSide h1.ns {
    font-size: 5vmin;
    color: var(--cl1);
    font-family: "Montserrat";
}

#content #rightSide h2.ns {
    font-size: 3vmin;
    color: var(--cl3);
    font-family: "Montserrat";
}

#content #formBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nickname, #password, #passwordConfirm {
    position: relative;
    width: 40%;
    height: 5vh;
    outline: none;
    border: none;
    background-color: var(--c2);
    padding: 0 5vh;
    font-size: 2.5vh;
    color: var(--cl1);
    margin: 2vh 0;
    font-family: "Montserrat";
}

#nickname-border, #password-border, #passwordConfirm-border { /* TODO: change to camel case */
    width: 0%;
    margin-left: calc(-40%);
    height: 2px;
    background-color: var(--cc2);
    margin-top: calc(-2vh - 2px);
    margin-bottom: calc(2vh + 2px);
    z-index: 1;
    transition: width var(--t1), margin-left var(--t1);
}

#nickname:focus ~ #nickname-border, #password:focus ~ #password-border, #passwordConfirm:focus ~ #passwordConfirm-border {
    width: 40%;
    margin-left: 0;
}

#formBox label {
    width: 40%;
    height: 2vh;
    color: var(--cl1);
    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 2.5vh;
    transform: translate(5vh, 5.5vh);
    z-index: 1;
    cursor: text;
    transition: transform var(--t1);
}

#formBox #logar {
    width: 30%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    font-family: "Montserrat";
    outline: none;
    background-color: var(--cc1);
    color: var(--c4);
    border: none;
    border-radius: 2.5vh;
    margin: 2vh 0;
    font-weight: 500;
}

#formBox #logar:hover {
    background-color: var(--cc2);
}

#nicknameError, #passwordError, #passwordConfirmError {
    font-family: "Montserrat";
    font-size: 2.5vmin;
    color: red;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    transition: height var(--t1), margin var(--t1);
}

#nicknameError.visible, #passwordError.visible, #passwordConfirmError.visible {
    height: 3vh;
    margin: 1vh 0;
}

#configBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 92vw;
    min-width: calc(100vw - 10vh);
    max-width: calc(100vw - 8vh);
    height: 95vh;
    min-height: calc(100vh - 10vw);
    max-height: calc(100vh - 2vw);
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#configBox::-webkit-scrollbar {
    display: none;
}

#configBox .configItem {
    width: 100%;
    height: calc(8vh + 2px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    border-bottom: 2px solid var(--c2);
    transition: height var(--t1);
}

#configBox .configItem * {
    flex: none;
}

#configBox .configItem .configItemTitle {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    font-family: "Montserrat";
    color: var(--cl1);
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#configBox .configItem .configItemToggle {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vmin;
    font-family: "Montserrat";
    color: var(--cl2);
}

#configBox .configItem .configItemToggle .checkbox {
    position: relative;
    width: 10vmin;
    height: 5vmin;
    margin: 0 2vmin;
    border-radius: 2.5vmin;
    background-color: #eeeeee;
    box-shadow: 0 0 1.5vmin var(--cm1) inset;
    cursor: pointer;
    transition: background-color var(--t1);
}

#configBox .configItem .configItemToggle .checkbox::before {
    content: "";
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    top: 0.5vmin;
    left: 0.5vmin;
    background-color: #eeeeee;
    border-radius: 2vmin;
    box-shadow: 0 0 1.5vmin var(--cm1);
    transition: left var(--t1);
}

#configBox .configItem .configItemToggle .checkbox.on {
    background-color: var(--cc1);
}

#configBox .configItem .configItemToggle .checkbox.on::before {
    left: 5.5vmin;
}

#configBox .configItem .configItemInput {
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vmin;
    font-family: "Montserrat";
    color: var(--cl2);
}

#configBox .configItem .configItemInput span {
    width: calc(50% - 3vmin);
    margin: 0 2vmin;
}

#configBox .configItem .configItemInput input {
    width: calc(50% - 2vmin);
    height: 60%;
    outline: none;
    border: none;
    background-color: var(--c2);
    color: var(--cl1);
    padding: 0 2vmin;
    font-size: 2.5vmin;
}

#configBox .configItem p {
    text-align: right;
    font-family: "Montserrat";
    font-size: 2.5vmin;
    color: var(--cl2);
    padding: 0 2vmin;
}

#configBox .configItem .configItemButtons {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#configBox .configItem .configItemButtons button {
    width: 40%;
    height: 60%;
    outline: none;
    border: none;
    background-color: var(--c2);
    color: var(--cl1);
}

input[type="color"] {
    border-radius: 100%;
    height: 10vmin;
    width: 10vmin;
    border: 2px solid var(--cl1);
    outline: none;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;	
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

#configBox .configItem .configItemPickers {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
