:root {
            --c1: #2F2F2F;
            --c2: #282727;
            --c3: #161616;
            --c4: #050505;
            --cl1: #eeeeee;
            --cl2: #bbbbbb;
            --cl3: #999999;
            --cm1: #444444;
            --cc1: #6780D8;
            --cc2: #5270C5;
            --t1: 250ms;
        }
        